body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  #map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.tacregion {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  font-size: 11pt;
  font-weight: bold;
  }

.leaflet-marker-pane {
  z-index: 700;
}

#show-all-button {
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 1500;
  padding: 10px;
  background-color: white;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid #c8c8c6;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

#show-all-button:hover{
  background-color:#f4f4f4;
}