body, html {
    font-family: "Julius Sans One", sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  #map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.tacregion {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  font-size: 11pt;
  font-weight: bold;
  }

.leaflet-marker-pane {
  z-index: 700;
}

#show-all-button {
  position: absolute;
  top: 10px;
  left: 50%;
  z-index: 1500;
  padding: 10px;
  background-color: white;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid #c8c8c6;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

#show-all-button:hover{
  background-color:#f4f4f4;
}

#privacy{
  max-width: 1200px;
  width:90%;
  margin:auto;
  background-color:white;
  position:relative;
  padding:30px;
}

#privacy-background{
  background-color:rgb(233, 233, 233);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#privacy-link{
  position: fixed;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 16.8px;
  font-size:12px;
  padding:0px 5px;
  right: 0;
  bottom: 16.8px;
  background-color:rgba(255, 255, 255, 0.8);
  z-index: 10000;
}