body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  #map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.tacregion {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  font-size: 11pt;
  font-weight: bold;
  }

.leaflet-marker-pane {
  z-index: 700;
}